@model  CustomerGet.Models.CustomerViewModel

<div style="padding-bottom:20px;">
    @Html.ActionLink("Back to List", "")
</div>

<div style="padding-bottom:20px;">
    Customer: @Model.Customer.FirstName @Model.Customer.LastName
</div>

<table width="500" border="1">
    <tr>
        <td>
            ID
        </td>
        <td>
            @Model.Customer.id
        </td>
    </tr>
    <tr>
        <td>
            Title
        </td>
        <td>
            @Model.Customer.Title
        </td>
    </tr>
    <tr>
        <td>
            Firstname
        </td>
        <td>
            <input id="txtFirstname" runat="server" name="txtFirstname" value="@Model.Customer.FirstName">
        </td>
    </tr>
    <tr>
        <td>
            Lastname
        </td>
        <td>
            @Model.Customer.LastName
        </td>
    </tr>
    <tr>
        <td>
            Gender
        </td>
        <td>
            @Model.Customer.Gender
        </td>
    </tr>
</table>

<button id="btnSave" runat="server">Save</button>